<div class="container-md">
  <div class="row">
    <div class="col-12">
      <div class="wrapper wrapper--1044 d-md-flex justify-content-md-between">
        <div class="cause__left">
          <h2 class="mb-3 mb-md-3">RSV is the #1 cause of hospitalization <br class="d-none d-md-block" />in infants
            under 12&nbsp;months<sup class="big">2†</sup></h2>
          <h4 class="text-black">Severe RSV disease is unpredictable.<br>ANY infant can be hospitalized in their <br
              class="d-none d-md-block" />first
            season.<sup>1*</sup></h4>
          <p class="mt-4">While RSV causes cold-like symptoms, it often progresses to LRTI (bronchiolitis and
            pneumonia) in infants,
            making RSV
            the leading cause&nbsp;of&nbsp;infant hospitalization.<sup>2†</sup></p>
          <p class="fw-bold display-3">It’s time to speak out for ALL infants against the impact of severe RSV. </p>
          <small class="mt-5 mb-2">LRTI (Lower Respiratory Tract Infection); RSV (Respiratory Syncytial Virus).</small>
          <div app-hang-block [optionalClass]="'hang__small pe-5'" [selectedHangs]="{
            addAsterisk: true,
            addDagger: false,
            addDoubleDagger: false,
            addPara: false,
            addSect: false,
            addLines: false,
            addAccording: true
            }"></div>
        </div>
        <div class="cause__right">
          <h2 class="lead text-center"><strong>What can YOU do?</strong></h2>
          <div app-card [data]="{
            title: 'RSV Speaker Series',
            titleClass: '',
            text: 'Jump into the conversation in a <span class=text-nowrap>peer-education</span>&nbsp;program',
            button: {
              text: 'GET UPDATES',
              url: '#',
              fragment: '',
              classes:''
            },
            modal : '#formModal'
          }"></div>
          <div app-card [data]="{
            title: 'Outsmart RSV in an educational&nbsp;interaction',
            button: {
              text: 'PLAY RSV RACER NOW',
              url: 'https://game-portal.gameloft.com/2093/sites/RSVRacer/',
              fragment: '',
              classes:''
            }
          }"></div>
        </div>
      </div>
    </div>
  </div>
</div>
