<div class="container-md">
    <div class="row">
        <div class="col-12">
            <div class="speaker-series">
                <div class="speaker-series__header">
                    <h2 class="text-white text-center mb-3 mb-4">RSV Speaker Series</h2>
                    <p class="text-center mb-0">The RSV Speaker Series is an expert-led roundtable event series to discuss RSV topics. Join your pediatric community peers during a live, <br class="d-none d-md-inline" />virtual forum and stay updated on the rapidly changing environment
                        of RSV care.</p>
                </div>

                <div class="speaker-series__cta-card d-flex flex-column flex-md-row justify-content-between align-items-md-center mx-md-auto">
                    <div class="cta-card__text my-md-auto">
                        <h3 class="text-black text-center mb-0">Register to take part in future RSV Speaker Series events</h3>
                    </div>
                    <div class="cta-card__btn d-flex justify-content-center">
                        <a interstitial href="https://letspando.com/RSVSpeakerSeries" target="_blank" rel="noopener" class="btn btn-white">REGISTER NOW</a>
                    </div>
                </div>

                <div class="speaker-series__picture text-center">
                    <picture app-picture [data]="{
            image: 'expert-insights/speaker-series/speakers',
            format: 'png',
            altext: '',
            webp: true,
            mobile: true,
            classes: '',
            width: '857',
            height: '197'
          }">
                    </picture>
                </div>

                <div class="speaker-series__small">
                    <small class="text-center">Photos provided courtesy of The Inception Company. Pando is a <br class="d-md-none"/>registered trademark and all rights are reserved.</small>
                </div>
            </div>
        </div>
    </div>
</div>