<div class="container-md">
  <div class="row">
    <div class="col">
      <div class="expert-discussions__header">
        <h2 class="text-black text-center mb-3">
          Expert Discussions: The RSV Speaker Series
        </h2>
        <p class="text-black text-left text-md-center mb-0">
          Join your pediatric community peers in a live, virtual forum led by
          experts and stay updated on the rapidly changing environment of RSV
          care.
        </p>
      </div>
      <div
        class="expert-discussions__experts-gallery d-none d-md-flex justify-content-center"
      >
        <picture
          app-picture
          [data]="{
            image: 'homepage/expert-discussions/expert-gallery',
            format: 'png',
            altext: '',
            webp: true,
            mobile: false,
            classes: '',
            width: '949',
            height: '218'
          }"
        >
        </picture>
      </div>
      <div class="d-flex justify-content-center mb-3 d-md-none">
        <picture
          app-picture
          [data]="{
            image: 'homepage/expert-discussions/expert-1',
            format: 'png',
            altext: '',
            webp: true,
            mobile: true,
            classes: '',
            width: '237',
            height: '248'
          }"
        >
        </picture>
      </div>
      <div class="expert-discussions__cta">
        <p class="text-white text-center fw-bold mb-md-4">
          Register to take part in future <br class="d-md-none" />
          Speaker Series events
        </p>
        <a interstitial class="btn btn-white mx-auto ms-md-auto d-block" href="https://letspando.com/RSVSpeakerSeries" target="_blank" rel="noopener">
          REGISTER NOW
        </a>
      </div>
      <div class="d-flex justify-content-center mb-3 d-md-none">
        <picture
          app-picture
          [data]="{
            image: 'homepage/expert-discussions/expert-2',
            format: 'png',
            altext: '',
            webp: true,
            mobile: true,
            classes: '',
            width: '237',
            height: '248'
          }"
        >
        </picture>
      </div>
    </div>
  </div>
</div>
