<div class="container-md">
    <div class="row">
        <div class="col-12">
            <div class="related-articles">
                <div class="related-articles__header mb-5 mb-md-4 pb-md-3">
                    <h2 class="text-black mb-4">Related Articles</h2>
                    <p class="mb-0">Take a deeper dive into the latest RSV data.</p>
                </div>

                <div class="related-articles__container d-flex flex-column flex-md-row justify-content-between">
                    <div class="related-articles__cta">
                        <p class="cta-title"><strong>National Coalition for Infant Health <br class="d-none d-md-inline"/>(NCFIH) Press Release</strong></p>
                        <p class="cta-text mb-3">Read the NCFIH’s position paper, <br class="d-none d-md-inline" />outlining the urgency for timely and <br class="d-none d-md-inline" />equitable access <br class="d-md-none" />to prevention for RSV.</p>
                        <a interstitial href="https://www.infanthealth.org/blog/press-release-advocates-urge-timely-and-equitable-access-to-prevention-for-rsv" target="_blank" rel="noopener" class="cta-btn btn btn-white">READ NOW</a>
                    </div>

                    <div class="related-articles__cta">
                        <p class="cta-title"><strong>Advisory Committee on <br/>Immunization Practices (ACIP) <br/>Charter Update</strong></p>
                        <p class="cta-text mb-3">Read about the ACIP’s efforts to get <br/>monoclonal antibodies covered under <br/>VFC, a process which has now been <br/>formalized by the CDC.</p>
                        <a interstitial href="https://www.cdc.gov/vaccines/acip/committee/charter.html" target="_blank" rel="noopener" class="cta-btn btn btn-white">READ NOW</a>
                    </div>

                    <div class="related-articles__cta">
                        <p class="cta-title"><strong>STAT News: Recognizing RSV today <br/>and rethinking our approach to help <br/>prevent it tomorrow</strong></p>
                        <p class="cta-text mb-3">Read about one pediatrician’s personal <br class="d-none d-md-inline" />encounter with RSV, and rethink your <br/>approach to prevention.</p>
                        <a interstitial href="https://www.statnews.com/sponsor/2021/10/21/recognizing-rsv-today-and-rethinking-our-approach-to-preventing-it-tomorrow/" target="_blank" rel="noopener" class="cta-btn btn btn-white">READ NOW</a>
                    </div>

                    <div class="related-articles__cta">
                        <p class="cta-title"><strong>Contemporary Pediatrics: <br/>Do we take RSV disease seriously <br/>enough?</strong></p>
                        <p class="cta-text mb-3">Read the opinion piece written by Dr. <br/>Joseph Domachowske, RSV expert <br/>and Professor of Pediatrics at Upstate <br/>Medical University, in which he <br/>discusses the real risk of RSV disease <br/>in infants.</p>
                        <a interstitial href="https://www.contemporarypediatrics.com/view/dowe-take-respiratory-syncytial-virus-seriously-enough-" target="_blank" rel="noopener" class="cta-btn btn btn-white">READ NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>