<div class="container-md">
  <div class="row">
    <div class="col-12">
      <div class="rvs__severe">
        <h2 class="text-white mb-3 mb-md-2">
          Severe RSV disease <span class="text-nowrap">is unpredictable</span>
        </h2>
        <p class="text-white mb-3 mb-md-4">
          It is not just infants born prematurely or those with underlying
          conditions who may
          <span class="text-nowrap">be hospitalized</span> with RSV—
          <span class="text-nowrap">~72% of all RSV-hospitalized infants</span>
          are born <span class="text-nowrap">at term</span> and otherwise
          healthy.<sup>1</sup>*
        </p>
        <h3 class="text-white text-uppercase mb-3 mb-md-4">
          IT'S TIME TO RETHINK THE RISK OF SEVERE RSV DISEASE IN ALL INFANTS.
        </h3>
        <div class="rvs__severe__small">
          <small class="text-white mb-2"
            >RSV, respiratory syncytial virus.</small
          >
          <small class="text-white"
            >*Surveillance data between October 2014 and April 2015. Among 1,176
            <span class="text-nowrap">RSV-hospitalized</span> infants aged under
            12 months, 851 had no reported underlying condition (prematurity was
            classified as an underlying condition <br class="d-md-none" />in the
            study).</small
          >
        </div>
      </div>
    </div>
  </div>
</div>
