<small class="hang">ED, emergency department;<br/>LRTI, lower respiratory tract infection.</small>
<small class="hang hang-asterisk position-relative {{ optionalClass }} {{ spaceClass }}"
  *ngIf="selectedHangs.addAsterisk">Surveillance data between October 2014 and April 2015. Among 1,176 RSV-hospitalized
  infants aged under 12 months, 851 had no reported underlying condition (prematurity was classified as an underlying
  condition in the study).</small>
<small class="hang hang-dagger position-relative {{ optionalClass }} {{ spaceClass }}"
  *ngIf="selectedHangs.addDagger">Based on data between 1993 to 2008 (routine recommendation for influenza vaccines in infants 6 months and over began in 2004).</small>

  <small class="hang hang-double-dagger position-relative {{ optionalClass }} {{ spaceClass }}"
  *ngIf="selectedHangs.addDoubleDagger">Based on data between 1993 (prior to routine recommendation for influenza vaccines in infants down to 6 months beginning in 2004) to 2008.</small>

  <small class="hang hang-double-dagger position-relative {{ optionalClass }} {{ spaceClass }}" *ngIf="selectedHangs.Observational">An observational retrospective cohort study of preterm and term infants &#60;6 months of age that assessed the costs of RSV hospitalizations, severity, and costs for the 2011 to 2014 and 2014 to 2017 RSV seasons.</small>

  <small class="hang hang-sect position-relative {{ optionalClass }} {{ spaceClass }}" *ngIf="selectedHangs.addSect">Based on a CDC modeling study of active surveillance data extrapolated to the US population.</small>
  
  <small class=" hang hang-lines position-relative {{ optionalClass }} {{ spaceClass }}"
  *ngIf="selectedHangs.addLines">Based on a CDC modeling study of active surveillance data extrapolated to the U.S. population.</small>

  <small class=" hang hang-dagger position-relative {{ optionalClass }} {{ spaceClass }}"
  *ngIf="selectedHangs.addAccording">According to a study of pediatric hospitalizations between 1997 and 2000.</small>
  
  <small class=" hang hang-double-dagger position-relative {{ optionalClass }} {{ spaceClass }}"
  *ngIf="selectedHangs.addBased">Based on data between 1993 (prior to routine recommendation for influenza vaccines in infants down to 6 months beginning in 2004) to 2008.</small>

  <small class=" hang hang-lines position-relative {{ optionalClass }} {{ spaceClass }}"
  *ngIf="selectedHangs.addLines2">Based on a CDC modeling study of active surveillance data extrapolated to the U.S. population.</small>