<div class="container-md">
  <div class="row">
    <div class="col-12">
      <div class="wrapper wrapper--1130">
        <h2 class="text-dark text-center mb-3">Severe RSV <span class="text-nowrap">disease is</span>
          unpredictable<sup class="ms-1">1*</sup></h2>
        <h3 class="text-dark text-center font-arial mb-4 mb-md-5">Any infant can be hospitalized <span
            class="text-nowrap">in
            their</span> first season</h3>
        <div app-accordion></div>
        <div app-cards-animate></div>
        <div app-hang-block class="hang__block" [optionalClass]="'hang__small'" [selectedHangs]="{
          addAsterisk: false,
          addDagger: true,
          addDoubleDagger: true,
          addPara: true,
          addSect: true,
          addLines: true,
          addAccording: false,
          addBased: false,
          Observational: false,
          addLines2: false
        }"></div>
      </div>
    </div>
  </div>
</div>
