<div class="container-md">
  <div class="row">
    <div class="col-12">
      <div class="join__container">
        <h2 class="text-black text-center">
          Join the discussion online using #RethinkRSV
        </h2>
        <div
          class="join__icons d-flex justify-content-center"
        >
          <a interstitial class="linkedin" href="https://www.linkedin.com/search/results/all/?keywords=%23rethinkRSV&origin=GLOBAL_SEARCH_HEADER&sid=m_w" target="_blank" rel="noopener">
            <picture
              app-picture
              [data]="{
                image: 'homepage/join/linkedin',
                format: '',
                altext: '',
                webp: true,
                mobile: false,
                classes: '',
                width: '78',
                height: '78'
              }"
            >
            </picture>
          </a>
          <a interstitial class="twitter" href="https://twitter.com/search?q=%23rethinkRSV&src=typed_query" target="_blank" rel="noopener">
            <picture
              app-picture
              [data]="{
                image: 'homepage/join/twitter',
                format: '',
                altext: '',
                webp: true,
                mobile: false,
                classes: '',
                width: '78',
                height: '78'
              }"
            >
            </picture>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
