<div class="container-md">
  <div class="row">
    <div class="col-12">
      <div class="rvs-resources">
        <div class="row">
          <div class="col-md-5 col-12 order-2 order-md-1 p-md-0">
    <div class="rvs-resources__left order-2 order-md-1">
          <div class="rvs-resources__brochure-preview">
            <picture
              app-picture
              [data]="{
                image: 'about-rsv/rsv-resources/brochure-preview',
                format: 'png',
                altext: '',
                webp: true,
                mobile: false,
                classes: 'mx-auto',
                width: '100%',
                height: '100%'
              }"
            >
            </picture>
          </div>
        </div>
          </div>
          <div class="col-md-7 col-12 order-1 order-md-2 p-md-0">
        <div class="rvs-resources__right order-1 order-md-2">
          <h2 class="rvs-resources__title text-white mb-3">RSV Resources</h2>
          <p class="rvs-resources__text text-white mb-4 mb-md-3">Take a closer look at RSV and its risk to ALL infants in this downloadable brochure.<br/>Learn about what can be done currently to <br class="d-md-none"/>help reduce the risk of RSV. Share with <br class="d-none d-md-inline"/>your colleagues and spread the word about the <br class="d-md-none"/>need to protect ALL infants.</p>
          <a href="/assets/pdf/RethinkRSV-Brochure.pdf" target="_blank" rel="noopener" class="rvs-resources__button btn btn-white d-flex justify-content-between align-items-center mx-auto mx-md-0">
            <div class="download__icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40">
                <title>Download RSV brochure</title>
                <g id="Icon_download" data-name="Icon/download" transform="translate(2 2)">
                  <g id="Flow_4" data-name="Flow 4">
                    <path id="Flow_4-2" data-name="Flow 4" d="M0-16v8A8,8,0,0,0,8,0H28a8,8,0,0,0,8-8v-8" transform="translate(0 36)" fill="none"/>
                    <path id="Flow_4-3" data-name="Flow 4" d="M0-16v8A8,8,0,0,0,8,0H28a8,8,0,0,0,8-8v-8" transform="translate(0 36)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="4"/>
                  </g>
                  <g id="Flow_2" data-name="Flow 2">
                    <path id="Flow_2-2" data-name="Flow 2" d="M2,0V18" transform="translate(16)" fill="none"/>
                    <path id="Flow_2-3" data-name="Flow 2" d="M2,0V18" transform="translate(16)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="4"/>
                  </g>
                  <g id="Flow_5" data-name="Flow 5">
                    <path id="Flow_5-2" data-name="Flow 5" d="M0,0V11.314H11.314" transform="translate(10 14) rotate(-45)" fill="none"/>
                    <path id="Flow_5-3" data-name="Flow 5" d="M0,0V11.314H11.314" transform="translate(10 14) rotate(-45)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="4"/>
                  </g>
                </g>
              </svg>          
            </div>
            <p class="button__title mb-0">DOWNLOAD THE BROCHURE</p>
          </a>
        </div>
          </div>
        </div>
    
     
      </div>
    </div>
  </div>
</div>
