<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content position-relative">
        <div class="modal-body">
            <div class="form__initial">
                <div class="form__header">
                    <h4 class="text-dark mb-3">RSV Survey</h4>
                    <p *ngIf="!firstEntry">We greatly value your opinion. Please answer these two <br class="d-none d-md-inline" />questions about your general perceptions of severe RSV disease.</p>
                    <p *ngIf="firstEntry">We want to know what you think. Now that you've spent some time on RethinkRSV.com please reevaluate these two questions about your general perceptions of severe RSV disease.</p>
                    <p class="mb-0"><strong>Thank you!</strong></p>
                </div>
                <form class="form">
                    <div class="form__controls mx-auto">
                        <div class="row">
                            <div class="radio col-12 d-flex flex-column">
                                <div class="radio__question mb-3 mb-md-4 order-md-1">
                                    <p class="mb-0">Do you agree that <em>ALL infants</em> should be immunized against severe RSV disease?</p>
                                </div>
                                <div class="radio__labels d-flex justify-content-between mx-md-auto mb-3 mb-md-0 order-md-3">
                                    <p class="mb-0"><em>(Strongly disagree)</em></p>
                                    <p class="mb-0"><em>(Strongly agree)</em></p>
                                </div>
                                <div class="radio__options d-flex justify-content-between mx-md-auto order-md-2">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="q1_option" id="inlineRadio1" value="1">
                                        <label class="form-check-label" for="inlineRadio1">1</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="q1_option" id="inlineRadio2" value="2">
                                        <label class="form-check-label" for="inlineRadio2">2</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="q1_option" id="inlineRadio3" value="3">
                                        <label class="form-check-label" for="inlineRadio3">3</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="q1_option" id="inlineRadio4" value="4">
                                        <label class="form-check-label" for="inlineRadio4">4</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="q1_option" id="inlineRadio5" value="5">
                                        <label class="form-check-label" for="inlineRadio5">5</label>
                                    </div>
                                </div>
                            </div>
                            <div class="radio col-12 d-flex flex-column">
                                <div class="radio__question mb-3 mb-md-4 order-md-1">
                                    <p class="mb-0">If it were available, how likely would you be to implement an <br class="d-none d-md-inline" />RSV immunization for <em>ALL infants</em> under the age of 12 months?</p>
                                </div>
                                <div class="radio__labels d-flex justify-content-between mx-md-auto mb-3 mb-md-0 order-md-3">
                                    <p class="mb-0"><em>(Very unlikely)</em></p>
                                    <p class="mb-0"><em>(Very likely)</em></p>
                                </div>
                                <div class="radio__options d-flex justify-content-between mx-md-auto order-md-2">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="q2_option" id="inlineRadio1" value="1">
                                        <label class="form-check-label" for="inlineRadio1">1</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="q2_option" id="inlineRadio2" value="2">
                                        <label class="form-check-label" for="inlineRadio2">2</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="q2_option" id="inlineRadio3" value="3">
                                        <label class="form-check-label" for="inlineRadio3">3</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="q2_option" id="inlineRadio4" value="4">
                                        <label class="form-check-label" for="inlineRadio4">4</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="q2_option" id="inlineRadio5" value="5">
                                        <label class="form-check-label" for="inlineRadio5">5</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn btn-primary mt-3 mx-auto d-block">SUBMIT</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-close position-absolute" data-bs-dismiss="modal">
            <svg id="close_icon" data-name="close icon" xmlns="http://www.w3.org/2000/svg" width="19.875" height="19.875" viewBox="0 0 19.875 19.875">
        <rect id="Rectangle" width="26" height="2.108" transform="translate(0 18.385) rotate(-45)" />
        <rect id="Rectangle_Copy" data-name="Rectangle Copy" width="26" height="2.108"
          transform="translate(1.491 0) rotate(45)" />
      </svg>
        </div>
    </div>
</div>