<section app-hero></section>
<section app-rvs-severe></section>
<section app-rvs-carousel></section>
<section app-expert-discussions></section>
<section app-rvs-quote [quote]="quote"></section>
<section app-race-against></section>
<section app-all-infants></section>
<section class="d-md-flex flex-row">
  <section app-find-us></section>
  <section app-cyan></section>
</section>

<!-- old sections-->
<!-- <section app-rvs-cause></section> -->
<!-- <section app-cards></section> -->
<!-- <section app-signup></section> -->
<!-- <section app-race-against></section> -->
<!-- <section app-all-infants></section> -->
<!-- <section app-rvs-resources></section> -->
