<div class="container-md">
  <div class="row">
    <div class="col-12">
      <div class="footer__nav d-flex flex-column">
        <div
          class="w-100 d-flex flex-column flex-md-row align-items-center justify-content-md-between"
        >
          <div class="footer__nav__logo footer__nav__left">
            <a href="https://www.sanofi.com" target="_blank" rel="noopener" interstitial>
              <div class="logo__container">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 569.5 146.29"
                >
                  <path
                    d="M202.23,46.77a110.81,110.81,0,0,0-40.59-7.62c-31.11,0-52.95,20.81-52.95,53.57,0,33.17,19,53.57,52.54,53.57a102.7,102.7,0,0,0,41-8.24c3.3-1.44,5.15-3.71,5.15-8.24V55C207.38,50.27,205.53,48,202.23,46.77ZM180.6,114.15c0,3.09-1.65,4.53-5.15,5.56a49,49,0,0,1-14,1.86c-13.18,0-25.54-7.83-25.54-28.85s12.36-28.85,25.54-28.85a49,49,0,0,1,14,1.86c3.5,1,5.15,2.47,5.15,5.56Z"
                  />
                  <path
                    d="M28.74,73.56c0-6.31,6.39-10.3,17.31-10.3,10.51,0,20.6,3.5,31.11,9.27a5.79,5.79,0,0,0,3.09.82,5.33,5.33,0,0,0,4.54-2.88l6.38-13.6A8.22,8.22,0,0,0,92,53.36a4.75,4.75,0,0,0-2.47-4.12c-12.78-7.41-28-10.92-42.66-10.92-27.6,0-45.32,14.84-45.32,37.09,0,43.68,66.34,26.77,66.34,57.08a22.6,22.6,0,0,1-1.24,7.62,4.35,4.35,0,0,0-.2,1.24,2.77,2.77,0,0,0,3.09,2.88H88.08c3.09,0,4.33-1,5.36-4.12a38.4,38.4,0,0,0,1.65-11.75C95.09,81.59,28.74,92.85,28.74,73.56Z"
                  />
                  <path
                    d="M279.08,39.15a124.11,124.11,0,0,0-41.41,7.42c-2.88,1-5.15,3.5-5.15,8.24v85.3a3.89,3.89,0,0,0,4.12,4.12h18.54a3.89,3.89,0,0,0,4.12-4.12V70.88c0-3.09,1.65-4.53,4.95-5.36a59,59,0,0,1,15.25-1.65c11.12,0,20,5.15,20,17.52v58.72a3.89,3.89,0,0,0,4.12,4.12h18.55a3.89,3.89,0,0,0,4.12-4.12V77.88C326.27,52.75,310.82,39.15,279.08,39.15Z"
                  />
                  <path
                    d="M397.15,39.15c-30.91,0-51.1,22.46-51.1,53.57s20.19,53.57,52.54,53.57c30.91,0,51.1-22.46,51.1-53.57S429.5,39.15,397.15,39.15Zm1.44,82.42c-15.25,0-25.34-9.9-25.34-28.85s10.09-28.85,23.9-28.85c15.24,0,25.34,9.89,25.34,28.85S412.39,121.57,398.59,121.57Z"
                  />
                  <rect
                    x="541.79"
                    y="41.21"
                    width="26.79"
                    height="103.02"
                    rx="4.12"
                  />
                  <path
                    d="M524.89,1.44a54.1,54.1,0,0,0-13-1.44c-25.55,0-42.24,13.6-42.24,43.27v96.84a3.89,3.89,0,0,0,4.12,4.12h18.34a3.89,3.89,0,0,0,4.12-4.12V63.87h26.17a3.79,3.79,0,0,0,4.12-4.12V45.54c0-2.68-1.44-4.33-4.12-4.33H496.25V38.94c0-11.33,4.95-17.1,16.28-17.1,4.12,0,8.56,1,10.1,1,2.47,0,3.5-1.44,3.91-3.91L528.6,8.24A14.41,14.41,0,0,0,529,5.56C529,3.27,527.78,2.06,524.89,1.44Z"
                  />
                  <path
                    d="M14,117.86c-8.45,0-14,5.35-14,14.21,0,8.66,5.56,14.22,14.63,14.22,8.45,0,14-5.56,14-14.22C28.64,123.21,23.08,117.86,14,117.86Z"
                  />
                  <path
                    d="M554.87,0c-8.45,0-14,5.36-14,14.22,0,8.65,5.56,14.21,14.63,14.21,8.45,0,14-5.56,14-14.21C569.5,5.4,563.94,0,554.87,0Z"
                  />
                </svg>
              </div>
            </a>

            <div
              class="footer__copyright d-none d-md-flex flex-column justify-content-center"
            >
              <strong>
                <small class="mb-2"
                  >SANOFI Discovery Drive Swiftwater, PA 18370.</small
                >
                <small class="mb-2"
                  >© 2022 Sanofi Inc. All rights reserved.</small
                >
                <small class="mb-0">MAT-US-2107554-v2.0-06/2022</small>
              </strong>
            </div>
          </div>
          <div class="footer__nav__right">
            <div class="footer__nav__text d-flex flex-column">
              <strong>
                <small class="mb-4 mb-md-3">
                  This site is intended for <br class="d-md-none" />
                  US Healthcare Professionals only.
                </small>
              </strong>
              <strong>
                <small>#RethinkRSV</small>
              </strong>
            </div>
            <div
              class="footer__social d-flex flex-column flex-md-row align-items-center justify-content-md-end"
            >
              <ul class="d-flex align-items-center footer__social__container">
                <li class="footer__social__icon footer__social__icon__linkedin">
                  <a 
                    interstitial
                    href="https://www.linkedin.com/search/results/all/?keywords=%23rethinkRSV&origin=GLOBAL_SEARCH_HEADER&sid=m_w"
                    rel="noopener"
                    target="_blank"
                    class="d-block"
                  >
                    <picture
                      app-picture
                      [data]="{
                        image: 'global/footer/linkedin',
                        format: '',
                        altext: 'linkedin',
                        webp: true,
                        mobile: false,
                        width: '26',
                        height: '26'
                      }"
                    ></picture>
                  </a>
                </li>
                <li class="footer__social__icon footer__social__icon__twitter d-flex align-items-end">
                  <a interstitial href="https://twitter.com/search?q=%23rethinkRSV&src=typed_query" rel="noopener" target="_blank" class="d-block">
                    <picture
                      app-picture
                      [data]="{
                        image: 'global/footer/twitter',
                        format: '',
                        altext: 'twitter',
                        webp: true,
                        mobile: false,
                        width: '39',
                        height: '26'
                      }"
                    ></picture>
                  </a>
                </li>
              </ul>
            </div>
            <ul class="footer__nav__items d-md-flex">
              <li
                *ngFor="let item of data"
                class="footer__nav__item"
              >
                <a
                interstitial
                  [href]="item.url"
                  target="_blank"
                  [innerHTML]="item.text"
                  *ngIf="item.url !== '/site-map'"
                ></a>
                <a
                  [routerLink]="item.url"
                  [innerHTML]="item.text"
                  *ngIf="item.url === '/site-map'"
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div
        class="footer__copyright d-flex d-md-none flex-column flex-md-row align-items-center justify-content-md-between"
      >
        <div class="d-flex flex-column justify-content-center">
          <strong>
            <small class="mb-0"
              >SANOFI Discovery Drive Swiftwater, PA 18370.</small
            >
            <small class="mb-0">© 2022 Sanofi Inc. All rights reserved.</small>
            <small class="mb-0">MAT-US-2107554-v2.0-06/2022</small>
          </strong>
        </div>
      </div>
    </div>
  </div>
</div>
