<div class="container-md wrapper--640">
    <div class="row">
        <div class="col-12">
            <div class="">
                <h2 class="text-dark mb-3 mb-md-4">
                    Help parents and caregivers get the
                    <br class="d-none d-md-inline" />resources they need
                </h2>
                <div class="cyan d-md-flex justify-content-between">
                    <div class="cyan__left text-center">
                        <picture app-picture [data]="{
                image: 'homepage/cyan/rally',
                format: 'png',
                altext: 'Rally against RSV logo',
                webp: true,
                mobile: true,
                classes: '',
                width: '215',
                height: '207'
              }">
                        </picture>
                    </div>
                    <div class="cyan__right d-flex flex-column">
                        <p class="mb-4">
                            RallyAgainstRSV.com is where parents and caregivers can learn more about RSV and share their stories.
                        </p>
                        <a interstitial href="https://www.rallyagainstrsv.com/" target="_blank" class="btn btn-lg btn-white">LEARN MORE</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>