@import "../../../../assets/scss/custom";

:host {
  padding: toREM(50) 0 toREM(15);
  background-color: $teal;

  @include media-breakpoint-up(md) {
    padding: toREM(54) 0 toREM(15);
  }
}

sup {
  font-size: 0.5em;
  top: -0.76em;
}

.hang__block {
  margin-top: toREM(35);
}
