<div class="container-md">
  <div class="row">
    <div class="col-12">
      <div class="wrapper wrapper--1130">
        <h2 class="text-white text-center mb-3">Severe RSV <span class="text-nowrap">disease is</span>
          unpredictable</h2>
        <h3 class="text-white text-center font-arial fw-normal mb-3 mb-md-2">ANY infant can be hospitalized in their first season.<sup>5</sup>* That’s why ALL infants need protection from RSV.</h3>
        <p class="text-white text-center mb-4 pb-md-2">Interact with the cards below to learn more about the unpredictability of severe RSV disease.</p>
        <div app-cards-animate></div>
        <div app-hang-block class="hang__block" [optionalClass]="''" [selectedHangs]="{
          addAsterisk: true,
          addDagger: true,
          addDoubleDagger: false,
          addPara: false,
          addSect: true,
          addLines: false,
          addAccording: false,
          addBased: false,
          Observational: true,
          addLines2: false
        }"></div>
      </div>
    </div>
  </div>
</div>
