<div class="container-md">
    <div class="row">
        <div class="col-12">
            <div class="rsv-podcast">
                <div class="rsv-podcast__header">
                    <h2 class="text-white text-center">RSVoice PODCAST</h2>
                    <p class="text-white text-center mb-0">Listen to this episode of Contemporary Pediatrics, where host Scott Kober and his guest, RSV expert Dr. Joseph Domachowske, discuss the risk of <br class="d-none d-md-inline" />severe RSV disease in <br class="d-md-none" />ALL infants,
                        as well as the role of the <br class="d-md-none" />healthcare provider community in increasing public awareness of the disease.</p>
                </div>

                <div class="rsv-podcast__cta-card d-flex flex-column flex-md-row justify-content-between align-items-center mx-auto">
                    <div class="cta-card__icon mb-3 mb-md-0">
                        <picture app-picture [data]="{
                image: 'expert-insights/rsv-podcast/podcast-icon',
                format: '',
                altext: '',
                webp: true,
                mobile: true,
                classes: '',
                width: '116',
                height: '77'
              }">
                        </picture>
                    </div>
                    <div class="cta-card__text my-md-auto">
                        <p class="text-white mb-0">
                            <strong>Contemporary Pediatrics sponsored podcast episode:</strong><br/> The Role of the Healthcare Provider Community in <br class="d-none d-md-inline" />Increasing Public Awareness of RSV Disease in All Infants
                        </p>
                    </div>
                    <div class="cta-card__btn d-flex justify-content-center">
                        <a interstitial href="https://www.contemporarypediatrics.com/view/the-role-of-the-healthcare-provider-community-in-increasing-public-awareness-of-rsv-in-all-infants" target="_blank" rel="noopener" class="btn btn-white">GO TO PODCAST</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>