<div class="container-md wrapper--555">
  <div class="row">
    <div class="col-12">
      <div class="find-us__container">
        <h2 class="text-black mb-md-3">Find us in person</h2>
        <p class="mb-3">
          We’re proud to participate in pediatric healthcare
          <br class="d-none d-md-inline" />conferences throughout the US.
        </p>
        <div class="find-us__dates d-md-flex justify-content-between">
          <div class="find-us__dates-left">
            <p class="dates__title"><a href="https://www.napnap.org/national-conference/" target="_blank" rel="noopener" interstitial>NAPNAP</a></p>
            <ul class="dates__list">
              <li>2023: March 15-18</li>
            </ul>

            <p class="dates__title"><a href="https://www.pasmeeting.org/" target="_blank" rel="noopener" interstitial>PAS</a></p>
            <ul class="dates__list">
              <li>2023: April 26 - May 3</li>
            </ul>

            <p class="dates__title"><a href="https://www.aafp.org/events/national-conference.html" target="_blank" rel="noopener" interstitial>AAFP</a></p>
            <ul class="dates__list">
              <li>2022: September 20-24</li>
              <li>2023: October 3-7</li>
            </ul>
          </div>

          <div class="find-us__dates-right">
            <p class="dates__title"><a href="https://aapexperience.org/" target="_blank" rel="noopener" interstitial>AAP</a></p>
            <ul class="dates__list">
              <li>2022: October 7-11</li>
              <li>2023: October 20-24</li>
            </ul>

            <p class="dates__title"><a href="https://idweek.org/" target="_blank" rel="noopener" interstitial>IDWeek</a></p>
            <ul class="dates__list">
              <li>2022: October 19-23</li>
              <li>2023: [To be determined]</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
